body {
  background-color: #191B1C;
  font-family: 'Poppins';
}

.text-slider-items {
  display: none;
}

.heading {
  margin: auto;
  margin-top: 10vw;
  text-align: center;
}

.heading h1 {
  color: limegreen;
  font-size: 4vw;
}

.heading h3 {
  color: white;
  font-size: 3vw;
}
